* {
  box-sizing: border-box;
}

p,
h1 h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
p {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--basic-color);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

address {
  font-style: normal;
}

:root {
  --basic-color: #212121;
  --second-basic-color: #2196f3;
  --third-basic-color: #ffffff;
}

input, textarea {
  outline: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* border: 1px solid tomato; */

}

/*-------------Header------------*/

.header {
  border-bottom: 1px solid #ECECEC;
}

.header-nav {
  display: flex;
}

.header-item {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--basic-color);
  margin-right: 93px;
  display: flex;
  align-items: center
}

.logo1 {
  color: var(--second-basic-color);
}

.header-page {
  padding: 0;
  display: flex;
  align-items: center;
}

.header-page-contact {
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-page-list:not(:last-child) {
  margin-right: 50px;
}


.header-list {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-color);
  padding: 32px 0;
  align-items: stretch;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: -1px;
}

.header-list:focus,
.header-list:hover {
  color: var(--second-basic-color);
}

.header-list-now {
  color: var(--second-basic-color);
}

.header-list-now::after {
  position: absolute;
  bottom: 0;

  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--second-basic-color);
  border-radius: 2px;
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:focus,
.header-contact:hover {
  color: var(--second-basic-color);
}

.header-contact .header-social-icon {
  fill: currentColor;
}

.header-social-icon {
  margin-right: 10px;
}

.header-contact:focus .header-social-icon {
  fill: currentColor
}

.header-contact:hover .header-social-icon {
  fill: currentColor
}

/*------------Section-1-Hero------------*/

.hero {
  max-width: 1600px;
  background-color: #2f303a;
  padding: 200px 0;
  margin: 0 auto;
  background-image:
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-list {
  text-align: center;

}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-basic-color);
  margin-bottom: 30px;
  padding: 0;
  max-width: 696px;
  text-align: center;

}

.hero-items {
  display: flex;
  flex-direction: column;
  align-items: center
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  color: var(--third-basic-color);
  background-color: var(--second-basic-color);
  padding: 10px 32px;
  max-width: 200px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/*------------Section-2------------*/

.text {
  padding-top: 94px;
  padding-bottom: 94px;
}

.text-list {
  display: flex;
}

.icon-list {
  background-color: #F5F4FA;
  display: flex;
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.text-li {
  display: block;
  max-width: 270px;
}

.text-li+.text-li {
  margin-left: 30px;
}

.text-item-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  padding: 0;
}


.text-item {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  padding: 0;
  margin: 0;
}

/*------------Section-3-do------------*/

.do {
  padding-bottom: 94px;
}


.do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

}

.do-list {
  position: relative;
  display: flex;
  padding: 0;
}

.do-item:not(:last-child) {
  margin-right: 30px;
}

.do-text {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

/* .do-item::after{
  position: absolute;
  bottom: 0;
  content: "Десктопные приложения";
  width: 370px;
  height: 70px;
 background-color: rgba(47, 48, 58, 0.8);
}

.do-item::after:nth-child(1){
  content: "Десктопные приложения";
} */


/*------------Section-4-team------------*/

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
  padding: 0;
}

.team-list {
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #f5f4fa;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #2196F3;
}

.team-social-link:focus .team-social-icon {
  fill: #ffffff;
}

.team-social-link:hover .team-social-icon {
  fill: #ffffff;
}

.team-social-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--third-basic-color);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-name-job {
  padding: 30px 0;
}

.team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--basic-color);
  margin-bottom: 10px;
  padding: 0;
}

.team-person-job {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
  padding: 0;
}

/* ----------------------------------Clients----------------------------------- */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-item {
  border: 1px solid #AFB1B8;
  max-width: 170px;
  max-height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item+.clients-item {
  margin-left: 30px;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
}

.clients-item:hover,
.clients-item:focus {
  border-color: var(--second-basic-color);
}

.clients-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover .clients-icon {
  fill: var(--second-basic-color);
}


/*------------Footer------------*/
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}


.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-basic-color);
  /* margin-bottom: 30px; */
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-basic-color);
  margin-top: 20px;
}


.footer-list {
  margin-top: 9px;
  padding: 0;
  display: flex;
  flex-direction: column
}

.footer-item:last-child {
  margin-top: 9px;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: rgba(255, 255, 255, 0.6);

}



.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--third-basic-color);
}

.footer-social-list {
  display: flex;
flex-grow: 1;
}


.footer-social-item+.footer-social-item {
  margin-left: 10px;
}


.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--second-basic-color);
}

.footer-social-icon {
  fill: var(--third-basic-color);
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.footer-social+.footer-social {
  margin-left: 70px;
}

.footer-social{
  flex-grow: 1;
}

/* .social-subscribe{
  display: flex;
  margin-left: 93px;
} */

.social-form{
  align-items: center;
  margin-left: 93px;

}

.social-list{
display: block;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.social-mail{
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
}

.social-subscribe-btn{
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: space-around;

  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--second-basic-color);
  padding: 10px 29px;
  margin-left: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-subscribe-btn:focus,
.social-subscribe-btn:hover{
  background-color: #188ce8;
}

.subscribe-icon{
fill: var(--third-basic-color);
}
.btn-position{
  display: flex;
}

/* ------------PORTFOLIO------------ */

.portfolio {
  padding-top: 94px;
  padding-bottom: 114px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.nav-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  padding: 6px 22px;
  margin: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prtf-btn :focus,
.prtf-btn :hover {
  background-color: var(--second-basic-color);
  color: var(--third-basic-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.prtf-btn:not(:last-child) {
  margin-right: 8px;
}

.btn-prtf-now {
  color: var(--third-basic-color);
  background-color: var(--second-basic-color);
}

.prtf-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

}

.prtf-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-color);
  margin-bottom: 4px;
  padding: 0;
}

.prtf-item-text {
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 0;
}


.prtf-list {
  padding: 0;
  display: flex;
  /* border: 1px solid #EEEEEE; */
  margin-bottom: 30px;
}

.prtf-list:nth-child(3n + 3) {
  margin-right: 0;
}

.prtf-list:nth-child(n + 7) {
  margin-bottom: 0;
}

.prtf-list {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}

.prtf-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prtf-link:hover,
.prtf-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

}

.prtf-link:hover .prtf-info-overlay,
.prtf-link:focus .prtf-info-overlay {
  transform: translateY(0)
}


.prtf-info {
  position: relative;
  overflow: hidden;
}

.prtf-info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prtf-info-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 322px;
  min-height: 168px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.border-prtf {
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.prtf-list-btn {
  display: flex;
  padding: 0;
  margin-right: 0;
  margin-bottom: 50px;
  justify-content: center;
}


/* --------------MODAL-------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 530px;
  height: 580px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.button-close {
  position: absolute;
  display: flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.button-close:hover .close-button-in{
  fill: var(--second-basic-color);
}
.button-close:focus .close-button-in{
  fill: var(--second-basic-color);
}

.close-button-in{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title{
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 12px;
color: var(--basic-color);

}

.modal-list{

}
.modal-item{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-item:hover,
.modal-item:focus {
  border-color:var(--second-basic-color) ;
}

.modal-item:focus ~ .modal-icon {
fill: var(--second-basic-color);
}

.modal-item:hover~.modal-icon{
  fill: var(--second-basic-color);
}

.comment{
  font-size: 16px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
}
.comment::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-item-name{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-position{
  margin-bottom: 10px;
}

.modal-position:nth-child(4){
  margin-bottom: 20px;
}

.modal-icon-position{
  position: relative;
}

.modal-icon{
position: absolute;
left: 15px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-position{
  display: flex;
  justify-content: center;
}
.buttom-submit{
  width: 200px;
  height: 50px;
  background-color: var(--second-basic-color);
  color: var(--third-basic-color);
 transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttom-submit:hover, 
.buttom-submit:focus{
  background-color: #188ce8;
}

.checkbox-position{
margin-bottom: 20px;
}


.checkbox-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 3px;
  margin-right: 8px;
}

.checkbox-input:checked + .checkbox-text::before {
  background-color: var(--second-basic-color);
  background-image: url(../images/accept.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: transparent;
}

.link-modal{
  text-decoration: underline;
  color: var(--second-basic-color);
  margin-left: 5px;
}

.checkbox-text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;  
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-position:hover .modal-item,
.modal-position:focus .modal-item{
border-color: var(--second-basic-color);  
}

.modal-position:hover .modal-icon{
  fill: var(--second-basic-color);
}

.modal-position:focus .modal-icon{
  fill: var(--second-basic-color);
}

.modal-icon{
  fill: #212121;
}